$color-yellow: #c5b348;
$color-blue: rgb(17, 128, 202);
$color-blue-light: rgb(81, 152, 199);
$color-blue-dark: rgb(16, 114, 180);
$color-green: rgb(11, 124, 58);
$color-green-light: rgb(20, 243, 131);
$color-red: rgb(150, 18, 18);
$color-red-light: rgb(243, 148, 148);

$color-gray: #979797;
$color-gray-light: #d0d0d0;

$color-whatsapp: #25D366;
$color-facebook: #4267B2;
$color-twitter: #1DA1F2;
$color-youtube: #FF0000;
// $bp-largest: 75em;      //1200px
// $bp-large: 68.75em;     //1100px
// $bp-medium: 56.25em;    //900px
// $bp-small: 37.5em;      //600px
// $bp-smallest: 31.5em;      //500px

$bp-largest: 1200px;
$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 600px;
$bp-smallest: 500px;