$color-secondary: #dfa01f;
$color-primary: rgb(17, 128, 202);
$color-primary-light: rgb(81, 152, 199);
$color-primary-dark: rgb(16, 114, 180);
$color-tertiary: #d74180;
$color-green: rgb(11, 124, 58);
$color-green-light: rgb(20, 243, 131);
$color-red: rgb(150, 18, 18);
$color-red-light: rgb(243, 148, 148);

$color-gray: #979797;
$color-gray-light: #d0d0d0;

$color-whatsapp: #25D366;
$color-facebook: #4267B2;
$color-twitter: #1DA1F2;
$color-youtube: #FF0000;
// $bp-largest: 75em;      //1200px
// $bp-large: 68.75em;     //1100px
// $bp-medium: 56.25em;    //900px
// $bp-small: 37.5em;      //600px
// $bp-smallest: 31.5em;      //500px

$bp-largest: 1400px;
$bp-large: 1200px;
$bp-medium: 1000px;
$bp-small: 600px;
$bp-smallest: 500px;

:root {
    --color-primary: #1180ca;
    --color-primary-light: #59a9df;
    --color-primary-ultra-light: #e2eff7;
    --color-primary-light-op: 89, 169, 223;
    --color-primary-dark: #003777;
    --color-secondary: #dfa01f;
    --color-tertiary: #9929a8;
    --color-tertiary-light: #e148f5;
    --color-tertiary-dark: #6b1c75;
    --color-green: #095c2c;
    --color-green-light: #12d473;
    --color-gray-light: #f0f0f0;
    --color-gray: #e1e1e1;
    --color-gray-dark: #7c7c7c;
    --color-red: #961212;
    --color-red-light: #f39494;
}