.container {
    max-width: 1200px;
}
.container-sm {
    max-width: 600px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 5%;
    .col-1-of-2 {
        flex: 0 1 45%;
        @include responsive(tab-port) {
            flex: 0 1 80%;
        }
    }
    .col-1-of-1 {
        flex: 0 1 80%;
    }
}