.form {
    font-size: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    &--hidden {
        display: none;
    }
    &--login {
        margin-top: 12vh;
    }
    &__control {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: max-content;
        grid-auto-rows: max-content;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        label {
            justify-self: right;
        }
        input {
            justify-self: left;
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    } 
}

.input-label {
    font-size: inherit;
}
.input-text {
    border: none;
    border-bottom: 2px solid var(--color-primary-light);
    background-color: var(--color-gray-light);
    padding: 1rem;
    transition: all 0.3s linear;
    font-family: inherit;
    font-size: inherit;
    // text-transform: lowercase;

    &--small {
        width: 5ch;
    }
    &--lg {
        width: 20ch;
    }

    &:hover, &:focus {
        border-bottom: 2px solid var(--color-primary-dark);
        background-color: var(--color-gray);
        outline: none;
    }
    &:disabled {
        border-bottom: 2px solid transparent;
        background-color: var(--color-gray-light);
    }
    // &:invalid {
    //     color: var(--color-red);
    // }
}

.input-number {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 2px solid var(--color-primary-light);
    background-color: var(--color-gray-light);
    padding: 1rem 0 1rem 1rem;
    width: 5ch;
    margin-left: 0.5rem;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
        border-bottom: 2px solid var(--color-primary-dark);
        background-color: var(--color-gray);
        outline: none;
    }
    &:disabled {
        border-bottom: 2px solid transparent;
        background-color: var(--color-gray-light);
    }
    &::-webkit-inner-spin-button {
        opacity: 1;
    }
}

.select {
    font-size: 1.6rem;
    font-family: inherit;
    padding: 1rem;
    outline: none;
    color: var(--color-primary-dark);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-gray-light);
    &:disabled {
        border: 1px solid transparent;
    }
}

.form-group {
    font-size: 2rem;
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
}
// .input-radio {
    // appearance: none;
    // border: solid 2px var(--color-primary);
    // border-radius: 50%;
    // background: #fff;
    // padding: .5rem;
    // &:checked {
    //     background-color: var(--color-primary-dark);
    // }
// }

.quiz {
    padding: 2rem 1rem;
    box-shadow: 0 0 10px var(--color-gray);
    border-radius: 1rem;

    &--hidden {
        display: none;
    }
    &__paragraph {
        font-size: 2rem;
        font-weight: bold;
        grid-column: 1 / -1;
    }
    &__question {
        // border: 1px solid var(--color-primary-dark);
        display: grid;
        grid-template-columns: 1fr 150px;
        grid-template-rows: repeat(5, max-content);
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;
        &--answered {
            background: var(--color-primary-ultra-light);
            box-shadow: 0 0 2px var(--color-primary-light);
        }
        &--correct {
            background: var(--color-green-light);
            box-shadow: 0 0 2px var(--color-green);
        }
        &--incorrect {
            background: var(--color-red-light);
            box-shadow: 0 0 2px var(--color-red);
        }
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    &__option {
        grid-column: 1 / 1;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
    }
    &__answer {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        padding: 2rem;
        display: none;
        font-size: 2rem;
        text-align: center;
        &--correct {
            display: block;
            color: $color-green;
            background-color: $color-green-light;
        }
        &--incorrect {
            display: block;
            color: $color-red;
            background-color: $color-red-light;
        }
    }
}