.picker {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--color-primary);
}

.calculation-canvas {
    // position: absolute;
    // bottom: 15px;
    // left: 15px;
    font-size: 1.6rem;
    // color: #000;
    margin: .5rem 0;
    text-align: left;
    // font-family: 'Fugaz One';
}