.math-exp {
    font-style: italic;
}
.merror {
    background: blue;
}

.definition, .theorem, .note{
    font-style: italic;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(var(--color-primary-light-op), 0.1);
    border: 2px solid var(--color-primary);
    &__title {
        color: var(--color-primary);
        font-weight: bold;
    }
    &__formule {
        text-align: center;
        margin: 1rem auto;
    }
    &__list {
        list-style: decimal;
        padding: 1rem 0 2rem 3ch;
        font-size: 2rem;
        &--formule {
            width: max-content;
        }
        &-item:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}

.example {
    padding: 1rem 0;
    &__paragraph {
        font-style: italic;
        margin: 1rem 0 2rem;
    }
}

.proof, .example {
    &__step {
        list-style: decimal outside;
        font-size: 2rem;
        padding: 2rem 0 2rem 2ch;
        &-item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
        // @include responsive(phone-land) {
        //     padding: 2rem 0 2rem 0;
        // }
    }
    &__list {
        list-style: disc outside;
        // padding-left: 2ch;
        padding: 2rem 0 2rem 2ch;
        font-size: 2rem;
        &-item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}

.text-formule {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    &--left {
        text-align: left;
    }
}

.calculation {
    // padding: 2rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: [first] max-content [second] auto;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    gap: 0 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    // &--text {
    //     box-shadow: 0 0 10px $color-gray;
    // }
    @include responsive(tab-land) {
        grid-template-columns: [first] max-content [second] 1fr;
    }
    
    &--no-text {
        margin: 0 auto;
    }

    &__formule {
        &--1 {
            grid-column: first / first;
            justify-self: right;
            // margin: -1em 0;
        }
        &--2 {
            grid-column: second / second;
            // margin: -1em 0;
            justify-self: left;
            display: flex;
            align-items: center;
            justify-content: left;
            column-gap: 4rem;
            width: 100%;
            transition: opacity 0.3s linear;
            @include responsive(tab-land) {
                // max-width: max-content;
                overflow-x: auto;
            }
        }
    }
    &__text {
        grid-column: 3 / 3;
        font-style: italic;
        font-size: 1.6rem;
        margin-left: auto;
        transition: opacity 0.3s linear;
        &--hidden {
            opacity: 0;
        }
    }
    &__answer {
        grid-column: 1 / -1;
        font-style: italic;
        font-size: 1.6rem;
    }
    &__question {
        grid-column: 1 / -1;
    }
    &--hidden {
        visibility: hidden;
        transform: scale(0);
        overflow-y: hidden;
        opacity: 0;
        height: 0;
    }
}
.overline {
    border-top: 1px solid black;
}