.modal-btn {
    color: $color-blue;
    text-decoration: underline;
    cursor: pointer;
}

.modal {
    position: fixed;
    // transform: translate(-50%, -50%);
    // top: 50%;
    // left: 50%;
    // bottom: 0;
    // right: 0;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;

    &--active{
        height: 100%;
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    &__reference {
        color: $color-blue;
        text-decoration: underline;
        font-size: inherit;
        cursor: pointer;
    }
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 80%;
        max-width: 1200px;
        overflow-y: auto;
        transform: translate(-50%, -50%);
        background-color: #fafafa;
        z-index: 2;
        padding: 2rem;
    }
}