.navbar {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px $color-gray;
    height: 8rem;
    z-index: 10;
    background-color: var(--color-primary-dark);
    padding: 1rem 5%;
    display: flex;
    justify-content: center;    
    align-items: center;
    column-gap: 2rem;
    color: #fff;

    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        height: 6rem;
        width: 6rem;
        background-image: url('../assets/navbar-logo.png');
        background-size: 90%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
    }

    &__logo {
        height: 6rem;
        width: auto;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
        font-size: 1.6rem;
        font-weight: bold;
        width: max-content;

        &[href="/"] {
            @include responsive(phone-port) {
                display: none;
            }
        }
        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            height: 2px;
            width: 0;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
        }
        &:hover {
            &::after {
                opacity: 1;
                visibility: visible;
                width: 100%;
            }    
        }
    }

    &__link--active,
    &__link--active:link,
    &__link--active:visited {
        &::after {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }   
    }

}