.question {
    padding: 2rem;
    font-size: 2rem;
    // max-width: 600px;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 0 10px $color-gray;
    // border: none;
    &__header {
        font-style: italic;
        font-weight: normal;
        font-size: inherit;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    &__option {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        column-gap: 1rem;
        input {
            margin-top: 1rem;
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    &__btn-box {
        margin-top: 2rem;
    }
    &__answer {
        padding: 2rem;
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.3s linear, transform 0.3s linear;

        &--success, &--failed {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
        }

        &--success {
            color: $color-green;
            background-color: $color-green-light;
        }
        &--failed {
            color: $color-red;
            background-color: $color-red-light;
        }
    }
}