.header {
    &-primary {
        font-size: 4rem;
        color: #000;
        line-height: 1.2;
        margin-bottom: 2rem;
        @include responsive(phone) {
            font-size: 3.5rem;
        }
    }
    &-secondary {
        font-size: 3rem;
        color: #000;
        line-height: 1.2;
        margin-bottom: 2rem;
        @include responsive(phone) {
            font-size: 2.5rem;
        }
    }
    &-tertiary {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.paragraph {
    font-size: 2rem;
    color: #000;
    // max-width: 72ch;
    margin-bottom: 1rem;
    text-indent: 3ch;
    text-align: justify;

    &--noindent {
        text-indent: 0;
    }
}

.error {
    color: $color-red;
    background-color: $color-red-light;
    font-weight: bold;
}
.hint {
    color: $color-blue;
}
.doubt {
    color: $color-purple;
}