.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}
.text-justify {
    text-align: justify;
}

.text-overflow {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-cursive {
    font-style: italic;
}

.margin-top-md {
    margin-top: 4rem;
}
.margin-bottom-sm {
    margin-bottom: 2rem;
}
.margin-bottom-xm {
    margin-bottom: 1rem;
}
.margin-bottom-md {
    margin-bottom: 4rem;
}
.margin-top-sm {
    margin-top: 2rem;
}
.margin-top-xm {
    margin-top: 1rem;
}
.box-shadow {
    box-shadow: 0 0 10px $color-gray;
    border: none;
}

.margin-left-auto {
    margin-left: auto;
}
.w-20 {
    width: 20rem;
}

.relative {
    position: relative;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

div[data-anchor]{
    &:target::before {
        content: "";
        display: block;
        height: 10rem; /* fixed header height*/
        margin: -10rem 0 0; /* negative fixed header height */
    }
}