<div class="definition">
   <p class="paragraph">
       <strong class="definition__title">Definición 1.2.1.</strong> El símbolo sumatorio $\sum$, queda determinado por
   </p>
   <p class="paragraph">
       1. Se define $\sum_{i=1}^{1} = a_1$
   </p>
   <p class="paragraph">
       2. Si el término $\sum_{i=1}^{n} = a_i$ está bien definido para un $n ≥ 1$ fijo, entonces se define: <br>
   </p>
   <p class="text-formule">
       $\sum_{i=1}^{n + 1} a_i = \sum_{i=1}^{n} a_i + a_{n+1}.$
   </p>
</div>