<div class="definition">
   <p class="paragraph">
       <strong class="definition__title">Definición 1.4.1.</strong> Sea $[a,b]\subseteq \mathbf{R}$ un intervalo cerrado.
   </p>
   <ul class="definition__list">
       <li class="definition__list-item">
           Decimos que $P=\{x_0,x_1,x_2,...,x_{n-1},x_n\}\subseteq[a,b]$, con $n\in \mathbf{N}$, es una partición de $[a,b]$ si $$a=x_0 < x_1 < x_2 < \cdots < x_{n-1}< x_n=b.$$
       </li>
       <li class="definition__list-item">
           Sea $P'$ otra partición de $[a,b]$, decimos que $P'$ es un refinamiento de $P$ si $P\subseteq P'$.
       </li>
       <li class="definition__list-item">
           Sea $P=\{x_0,x_1,x_2,...,x_{n-1},x_n\}$ una patición, al número $$\max\{x_i-x_{i-1}:i=\overline{1,n}\}$$ se le llama la norma de $P$ y se denota por $\|P\|$. A las diferencias $x_i-x_{i-1}$ se le denota por $\Delta x_i$. Con base en esto, obtenemos $$\|P\|=\max\{\Delta x_i:i=\overline{1,n}\}.$$
       </li>
   </ul>
</div>