<div class="theorem">
   <p class="paragraph">
       <strong class="theorem__title">Teorema 1.5.4.</strong> Si $f,g:[a,b]\to\mathbf{R}$ son funciones integrables y $\alpha \in \mathbf{R}$, entonces
   </p>
   <ol class="theorem__list">
       <li class="theorem__list--formule">
          $$\int_a^b (\alpha f)(x)\,dx=\alpha \int_a^b f(x)\,dx$$
       </li>
       <li class="theorem__list--formule">
           $$\int_a^b (f+g)(x)\,dx=\int_a^b f(x)\,dx+\int_a^b g(x)\,dx$$
       </li>
       <li class="theorem__list--formule">
           Si $0\leq f(x), \forall x\in[a,b]$, entonces $$0\leq \int_a^b f(x)\,dx.$$
       </li>
       <li class="theorem__list--formule">
           Si $g(x)\leq f(x), \forall x\in[a,b]$, entonces $$\int_a^b g(x)\,dx \leq \int_a^b f(x)\,dx.$$
       </li>
       <li class="theorem__list--formule">
           Si $m\leq f(x)\leq M, \forall x\in[a,b]$, con $m,M\in\mathbf{R}$, entonces $$m(b-a)\leq \int_a^b f(x)\,dx \leq M(b-a).$$
       </li>
   </ol>
</div>