<div class="theorem">
   <p class="paragraph">
       <strong class="theorem__title">Teorema 1.2.1 </strong>(Linealidad). Sean $n ∈ \mathbf{N}, a_i, b_i ∈ \mathbf{R}$, para toda $i = 1, n,$ y $c ∈ \mathbf{R}$,
       entonces:
   </p>
   <ol class="theorem__list">
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} (ca_i) = c\sum_{i=1}^{n} a_i$$
       </li>
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} (a_i + b_i) = \sum_{i=1}^{n} a_i + \sum_{i=1}^{n} a_i$$
       </li>
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} (a_i - b_i) = \sum_{i=1}^{n} a_i - \sum_{i=1}^{n} a_i$$
       </li>
   </ol>
</div>