<div class="theorem">
   <p class="paragraph">
       <strong class="theorem__title">Teorema 1.2.2 </strong>(Sumas telescópicas). Si $n ∈ \mathbf{N} $, y $a_i ∈ \mathbf{R} \; \; \forall i =$ <span class="overline">$1,n$</span>, entonces
   </p>
   <ol class="theorem__list">
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} (a_{i+1} - a_i) = a_{n+1} - a_1.$$
       </li>
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} [(i + 1)^2 - i^2) = (n + 1)^2 - 1.$$
       </li>
   </ol>
</div>