<div class="theorem">
   <p class="paragraph">
      <strong class="theorem__title">Teorema 1.5.1 </strong> Si
      $f:[a,b]\to\mathbb{R}$ una función acotada y $\varepsilon >0$, entonces existe $\delta>0$ tal que para toda partición $P$ de
      $[a,b]$, con $||P||< \delta$, se cumple que 
      $$
         {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_a^b f(x)\,dx-\varepsilon < \underline{S}(f,R) \qquad
         \mbox{ y } \qquad 
         \overline{S}(f,R) < {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_a^b f(x)\, dx+\varepsilon. 
      $$
   </p>
</div>