<div class="theorem">
   <div class="paragraph">
      <span class="theorem__title">Teorema 4.7.4. </span>Si la serie de potencias $\sum_{n=0}^\infty c_n (x-a)^n$ tiene radio de convergencia $R>0$, entonces la función $f$ definida por
      $$f(x)=c_0 + c_1(x-a) + c_2(x-a)^2+\cdots = \sum_{n=0}^\infty c_n(x-a)^n$$
      es diferenciable en el intervalo $(a-R, a+R)$ y
      <ul class="simple-list paragraph--noindent">
         <li>$f'(x)= \sum_{n=0}^\infty nc_n(x-a)^{n-1}.$</li>
         <li>$\int f(x)\, dx = C + \sum_{n=0}^\infty c_n\frac{(x-a)^{n+1}}{n+1}.$</li>
      </ul>
      El radio de convergencia de las dos ecuaciones anteriores es $R$.
   </div>
</div>