<div class="theorem">
   <p class="paragraph">
       <strong class="theorem__title">Teorema 1.4.7.</strong> Sea $f:[a,b]\to \mathbf{R} $ una función acotada.
   </p>
   <ul class="theorem__list">
       <li class="theorem__list-item">
           Si $c\in[a,b]$, entonces 
           $$
               {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_a^b f(x)\,dx = 
               {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_a^c f(x)\,dx + {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_c^b f(x)\,dx,$$ y 
               análogamente 
           $$
               {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_a^b f(x)\,dx = 
               {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_a^c f(x)\,dx + {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_c^b f(x)\,dx.
           $$
       </li>
       <li class="theorem__list-item">
           Si $M=\sup\{f(x):x\in[a,b]\}$ y $m=\inf\{f(x):x\in[a,b]\}$, entonces 
           $$
               m(b-a) \leq {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_a^b f(x)\,dx \leq 
               {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_a^b f(x)\,dx \leq M(b-a).
           $$
       </li>
       <li class="theorem__list-item">
           Si $c\in \mathbf{R}$, entonces 
           $$
               {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_a^b [f(x)+c]\,dx=
               {\mkern13mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu} \int_a^b f(x)\,dx+c(b-a)
           $$ 
               y además 
           $$
               {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_a^b [f(x)+c]\,dx=
               {\mkern13mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu} \int_a^b f(x)\,dx+c(b-a).
           $$
       </li>
   </ul>
</div>