<div class="theorem">
   <p class="paragraph">
       <strong class="theorem__title">Teorema 1.2.3 </strong>. Para toda $n ∈ \mathbf{N}$ se cumple que
   </p>
   <ol class="theorem__list">
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} i = \frac{n(n+1)}{2};$$
       </li>
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} i^2 = \frac{n(n+1)(2n+1)}{6};$$
       </li>
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} i^3 = \left[ \frac{n(n+1)}{2} \right]^2;$$
       </li>
       <li class="theorem__list--formule">
           $$\sum_{i=1}^{n} i^4 = \frac{n(n+1)(2n+1)(3n^2+3n-1)}{30};$$
       </li>
   </ol>
</div>