<div class="theorem">
   <p class="paragraph">
       <span class="theorem__title">Teorema 2.5.1.</span> Toda función racional propia $\frac{P(x)}{Q(x)}$, escrita en su mínima expresión, 
       puede descomponerse en la suma de fracciones parciales de la siguiente forma:
   </p>
   <ol class="theorem__list">
       <li class="theorem__list-item">
           Si $Q(x)$ tiene un factor lineal no repetido de la forma $(x-\alpha)$, entonces la descomposición en fracciones parciales contiene un término de 
           la forma $\frac{A}{x-\alpha}$, donde $A$ es una constante a determinar.
       </li>
       <li class="theorem__list-item">
           Si $Q(x)$ tiene un factor lineal que se repite $k$ veces, es decir, un factor de la forma $(x-\alpha)^k$, entonces la descomposición en fracciones 
           parciales contiene un término de la forma 
           $$\frac{A_1}{x-\alpha}+\frac{A_2}{(x-\alpha)^2}+\cdots +\frac{A_k}{(x-\alpha)^k},$$ 
           donde las constantes $A_1, A_2,\dots, A_k$ se deben determinar.
       </li>
       <li class="theorem__list-item">
           Si $Q(x)$ tiene un factor cuadrático irreducible de la forma $x^2+px+q$ que no se repite, entonces la descomposición en fracciones parciales 
           contiene un término de la forma $\frac{Ax+B}{x^2+px+q}$, donde $A$ y $B$ son las constantes a determinar.
       </li>
       <li class="theorem__list-item">
           Si $Q(x)$ tiene un factor cuadrático irreducible de la forma $x^2+px+q$ que se repite $k$ veces, es decir, un factor de la forma $(x^2+px+q)^k$, 
           entonces la descomposición en fracciones parciales contiene un término de la forma 
           $$\frac{A_1x+B_1}{x^2+px+q}+\frac{A_2x+B_2}{(x^2+px+q)^2}+\cdots+ \frac{A_kx+B_k}{(x^2+px+q)^k},$$ 
           donde las constantes $A_1, A_2,\dots, A_k, B_1, B_2,\dots B_k$ se deben determinar.
       </li>
   </ol>
</div>