<div class="theorem">
   <p class="paragraph">
       <strong class="theorem__title">Teorema 2.3.1.</strong> Sean $f$ y $g$ funciones continuas.
   </p>
   <ol class="theorem__list">
       <li class="theorem__list-item">
           Si $g'$ es continua y $H(u)=\int f(u)\,du$, entonces $$\int f(g(x))g'(x)\, dx=H(g(x)).$$
       </li>
       <li class="theorem__list-item">
           Si $\nu$ es una función derivable con derivada continua e invertible con inversa derivable, y  
           $H(x)=\int f(\nu(x))\nu'(x)\,dx$, entonces $$\int f(y)\,dy=H(\nu^{-1}(y)).$$
       </li>
   </ol>
</div>