<h2 class="header-secondary">Criterios de Converegencia</h2>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.1. </span>Si la serie $\sum_{n=0}^\infty a_n$ converge, el $n$-ésimo término tiende a cero.
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.2. </span>Si $a_n \geq 0 $ para cada $n \geq 1$, la serie $\sum_{n=0}^\infty a_n$ converge si y sólo si la sucesión de sumas
      parciales está acotada superiormente.
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.3 Criterio de comparación. </span>Sea $a_n \geq 0$ y $b_n \geq 0$ para todo $n\geq 1$. Si existe una constante
      positiva $c$ talque $a_n \leq cb_n$ para todo $n$, entonces la convergencia de $\sum_{n=1}^\infty b_n$ implica la de $\sum_{n=1}^\infty a_n.$
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.4. Criterio de comparación por paso al límite. </span> Suponga que $\sum_{n=1}^\infty a_n$ y $\sum_{n=1}^\infty n_n$ son series con
      términos positivos.Si 
      $$\lim_{n \to \infty} \frac{a_n}{b_n}=c$$
      donde $c$ es un número finito y positivo, entonces ambas series divergen o convergen.
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.5 Criterio integral. </span>Sea $f$ una función positiva decreciente, definida para todo real $x \geq 1.$ 
      Para cada $n \geq 1,$ sea $s_n = \sum_{k=1}^n f(k)$ y $t_n = \int_1^n f(x)\, dx,$ entonces las sucesiones $\{s_n\}$ y $\{t_n\}$ o ambas convergen o ambas divergen.               
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.6 Criterio de la raíz. </span>Sea $\sum_{n=1}^\infty a_n$ una serie de términos no negativos tales que 
      $a_n^{\frac{1}{n}} \to R$ cuando $n \to \infty.$ <br>
      a) Si $R < 1$, la serie converge.   <br>
      b) Si $R > 1$, la serie diverge. <br>
      c) Si $R=1$, el criterio no decide. 
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.7. Criterio del cociente. </span>Sea $\sum_{n=1}^\infty a_n$ una serie de números positivos tales que 
      $\frac{a_{n+1}}{a_n} \to L$ cuando $n \to \infty.$ <br>
      a) Si $L < 1$, la serie converge.   <br>
      b) Si $L > 1$, la serie diverge. <br>
      c) Si $L=1$, el criterio no decide. 
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.8. Criterio de la serie alternante. </span>Si $0< a_n$ para toda $n\in\mathbf{N}$, $\lim_{n\to\infty} a_n$ y la sucesión $\{a_n\}$ 
      es monótona decreciente, entonces la serie alternante converge. Si $S$ designa su suma y $A_n$ su suma parcial $n$-sima, para todo $n\in\mathbf{N}$ se verifica
      $$|S- A_n| < a_{n+1}$$
   </p>
</div>
<div class="theorem">
   <p class="paragraph">
      <span class="theorem__title">Teorema 4.5.9 Convergencia absoluta. </span>Si la serie $\sum_{n=1}^\infty |a_n|$ converge, entonces la serie $\sum_{n=1}^\infty a_n$ converge.
   </p>
</div>
<div class="definition">
   <p class="paragraph">
      <span class="definition__title">Definición 4.5.1. </span>Sea $\sum_{n=1}^\infty a_n$ una serie. Diremos que la serie es:
      <ul class="simple-list">
         <li>Absolutamente convergente si $\sum_{n=1}^\infty |a_n|$ es convergente.</li>
         <li>Condicionalmente convergente si $\sum_{n=1}^\infty a_n$ converge pero $\sum_{n=1}^\infty |a_n|$ diverge.</li>
      </ul>
   </p>
</div>