<table class="math-table">
   <caption>
       Teorema 2.5.1.
     </caption>
   <thead>
       <tr>
           <th>Factor en el denominador</th>
           <th>Término en la descomposición</th>
       </tr>
   </thead>
   <tbody>
       <tr>
           <td>$$x-\alpha$$</td>
           <td>$$\frac{A}{x-\alpha}$$</td>
         </tr>
       <tr>
           <td>$$(x-\alpha)^k$$</td>
           <td>$$\frac{A_1}{x-\alpha}+\frac{A_2}{(x-\alpha)^2}+\cdots +\frac{A_k}{(x-\alpha)^k}$$</td>
       </tr>
       <tr>
           <td>$$x^2+px+q$$</td>
           <td>$$\frac{Ax+B}{x^2+px+q}$$</td>
       </tr>
       <tr>
           <td>$$(x^2+px+q)^k$$</td>
           <td>$$\frac{A_1x+B_1}{x^2+px+q}+\frac{A_2x+B_2}{(x^2+px+q)^2}+\cdots+ \frac{A_kx+B_k}{(x^2+px+q)^k}$$</td>
       </tr>
   </tbody>
</table>