<table class="math-table">
   <thead>
      <tr>
         <th>Identidades trigonométricas</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            \begin{equation*} \tan \theta=\frac{\sin \theta}{\cos \theta}, \quad
            \cot \theta=\frac{\cos \theta}{\sin \theta}, \quad \sec \theta =
            \frac{1}{\cos \theta}, \quad \csc \theta=\frac{1}{\sin \theta},
            \end{equation*}
         </td>
      </tr>
      <tr>
         <td>
            \begin{equation} \cos^2\theta+\sin^2\theta=1 \qquad \mbox{ y }
            \qquad \tan^2\theta+1=\sec^2\theta. \end{equation}
         </td>
      </tr>
      <tr>
         <td>
            \begin{equation*} \begin{split} \sin(A\pm B) & = \sin A \cos B \pm
            \sin B \cos A \\ \cos(A\pm B) & = \cos A \cos B \mp \sin A \sin B
            \end{split} \end{equation*}
         </td>
      </tr>
      <tr>
         <td>
            \begin{equation}\label{angdoble} \sin(2\theta) = 2\sin \theta \cos
            \theta \quad \mbox{ y } \quad \cos(2\theta) = \cos^2\theta - \sin^2
            \theta.\end{equation}
         </td>
      </tr>
      <tr>
         <td>
            \begin{equation}\label{trig2} \cos^2 \theta =
            \frac{1+\cos(2\theta)}{2} \quad \mbox{ y } \quad \sin^2\theta =
            \frac{1-\cos (2\theta)}{2}.\end{equation}
         </td>
      </tr>
      <tr>
         <td>
            \begin{equation} \begin{matrix} \cos^2\theta+\sin^2\theta=1 &
            \tan^2\theta+1=\sec^2\theta \\ \cos^2\theta=1-\sin^2\theta &
            \tan^2\theta=\sec^2\theta-1 \\ \cos \theta=\sqrt{1-\sin^2\theta} &
            \tan\theta=\sqrt{\sec^2\theta-1}\\ \sin^2\theta=1-\cos^2\theta &
            \sec\theta=\sqrt{\tan^2\theta+1}\\ \sin \theta=\sqrt{1-\cos^2\theta}
            & \end{matrix} \end{equation}
         </td>
      </tr>
   </tbody>
</table>
