<nav id="sidebar">
   <ol class="subject-list">
       <li class="subject-list__item">
           <strong class="subject-list__title">1 La integral definida</strong>
           <ol class="subject-list">
               <li class="subject-list__item"><a href="./1.1-introduccion.html" class="subject-list__link">1.1 Introducción</a></li>
               <li class="subject-list__item">
                   <a href="./1.2-Sumatoria.html" class="subject-list__link">1.2 El símbolo $\sum$</a>
                   <ol class="subject-list">
                       <li class="subject-list__item"><a href="./1.2-Sumatoria.html#1.2" class="subject-list__link">1.2.1 Formalizando el símbolo sumatorio</a></li>
                       <li class="subject-list__item"><a href="./1.2.2-propiedades.html" class="subject-list__link">1.2.2 Propiedades del símbolo $\sum$</a></li>
                   </ol>
               </li>
               <li class="subject-list__item"><a href="./1.3-calculo-de-areas.html" class="subject-list__link">1.3 Cálculo de  ́areas con rect. insc. y circuns.</a></li>
               <li class="subject-list__item">
                   <a href="./1.4-integral-definida.html" class="subject-list__link">1.4 Construcción de la integral definida</a>
                   <ol class="subject-list">
                       <li class="subject-list__item"><a href="./1.4.1-integral-definida.html" class="subject-list__link">1.4.1 Construcción de la integral definida parte 2</a></li>
                       <li class="subject-list__item"><a href="./1.4.2-integral-definida.html" class="subject-list__link">1.4.2 Construcción de la integral definida parte 3</a></li>
                       <li class="subject-list__item"><a href="./1.4.3-integral-definida.html" class="subject-list__link">1.4.3 Construcción de la integral definida parte 4</a></li>
                       <li class="subject-list__item"><a href="./1.4.4-integral-definida.html" class="subject-list__link">1.4.4 Construcción de la integral definida parte 5</a></li>
                   </ol>
               </li>
               <li class="subject-list__item"><a href="./1.5-sumas-riemann.html" class="subject-list__link">1.5 Sumas de Riemann</a></li>
               <li class="subject-list__item"><a href="./1.6-teorema-fundamental.html" class="subject-list__link">1.6 Teorema fundamental del Cálculo y sus consecuencias</a></li>
           </ol>
       </li>
       <li class="subject-list__item">
           <strong class="subject-list__title">2 La integral indefinida</strong>
           <ol class="subject-list">
               <li class="subject-list__item"><a href="./2.1-introduccion.html" class="subject-list__link">2.1 Introducción</a></li>
               <li class="subject-list__item"><a href="./2.2-antiderivadas-inmediatas.html" class="subject-list__link">2.2 Antiderivadas inmediatas</a></li>
               <li class="subject-list__item">
                   <a href="./2.3-metodo-sustitucion.html" class="subject-list__link">2.3 Método de int. por sust. o cambio de variable</a>
                   <ol class="subject-list">
                       <li class="subject-list__item"><a href="./2.3.1-metodo-sustitucion-parte-2.html" class="subject-list__link">2.3.1 Método de int. por sust. o cambio de variable parte 2</a></li>
                   </ol>
               </li>
               <li class="subject-list__item"><a href="./2.4-integracion-por-partes.html" class="subject-list__link">2.4 Método de integración por partes</a></li>
               <li class="subject-list__item">
                   <a href="./2.5-fracciones-parciales.html" class="subject-list__link">2.5 Método de integración por fracciones parciales</a>
                   <ol class="subject-list">
                       <li class="subject-list__item"><a href="./2.5.1-factores-lineales-no-repetidos.html" class="subject-list__link">2.5.1 El polinomio $Q(x)$ solo contiene factores lineales que no se repiten</a></li>     
                       <li class="subject-list__item"><a href="./2.5.2-factores-lineales-repetidos.html" class="subject-list__link">2.5.2 El polinomio $Q(x)$ solo contiene factores lineales, pero algunos de ellos se repetidos</a></li>     
                       <li class="subject-list__item"><a href="./2.5.3-factores-cuadraticos-irreducibles.html" class="subject-list__link">2.5.3 Integrales de funciones simples que involucran términos cuadráticos irreducibles</a></li>     
                       <li class="subject-list__item"><a href="./2.5.4-factores-cuadraticos-no-repetidos.html" class="subject-list__link">2.5.4 El polinomio $Q(x)$ contiene factores cuadráticos irreducibles que no se repiten</a></li>     
                       <li class="subject-list__item"><a href="./2.5.5-factores-cuadraticos-repetidos.html" class="subject-list__link">2.5.5 El polinomio $Q(x)$ contiene factores cuadráticos irreducibles que se repiten</a></li>     
                   </ol>
               </li>
               <li class="subject-list__item"><a href="./2.6-sust-trigonometrica.html" class="subject-list__link">2.6 Met. de int. por sust. trigonométrica</a></li>     
           </ol>
       </li>
       <li class="subject-list__item">
           <strong class="subject-list__title">3 Integrales impropias y aplicaciones</strong>
           <ol class="subject-list">
               <li class="subject-list__item"><a href="./3.1-integrales-impropias.html" class="subject-list__link">3.1 Integrales impropias</a></li>
               <li class="subject-list__item"><a href="./3.2-mas-integrales-impropias.html" class="subject-list__link">3.2 Más integrales impropias (para funciones discontinuas)</a></li>
               <li class="subject-list__item"><a href="./3.3-calculo-de-areas.html" class="subject-list__link">3.3 Cálculo de áreas de regiones acotadas por curvas</a></li>   
           </ol>
       </li>
       <li class="subject-list__item">
           <strong class="subject-list__title">Anexo</strong>
           <ol class="subject-list">
               <li class="subject-list__item"><a href="./anexo-conjuntos.html" class="subject-list__link">Conjuntos</a></li>
               <li class="subject-list__item"><a href="./anexo-demostracion-teo-1.5.1.html" class="subject-list__link">Teorema 1.5.1</a></li> 
               <li class="subject-list__item"><a href="./references.html" class="subject-list__link">Referencias</a></li> 
           </ol>
       </li>
   </ol>
</nav>